page-eventos {
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
    border: 3px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 15px;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: green;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background: linear-gradient(to bottom, #da4453, #89216b);
    color: #FFFFFF;
    height: 50px;
    border-radius: 10px;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      color: #FFFFFF;
      margin: 0;
      border-radius: 10px;
    }
    .calendar-weekday {
      margin: 7px;
      font-weight: bold;
      background: linear-gradient(to bottom, #da4453, #89216b);
    }
    .calendar-date {
      height: 500px;
    }
  }

  ion-col{
    font-size: 20px;
  }
}
