<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let cal of calendars" tappable>
      Nome do Calendário: {{ cal.name }}
      <button ion-button icon-only (click)="save(cal)" style="color: green;">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only item-end clear (click)="openCal(cal)">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
