<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="NomeUsuario()">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome do Usuário</ion-label>
        <ion-input type="text" [(ngModel)]="data.username" name="username" required=""></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full round color="secondary" type="submit">Entrar</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
