page-noticias {
  .search-news{
    background-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    width: 110px;
    margin-left: -50px;
    display: block;
  }
}
