<ion-header>
  <ion-navbar>
    <ion-title>Notícias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-card *ngFor="let new of noticias" style="border-radius: 5px;">
        <img src="{{ new.urlToImage }}"/>
        <ion-card-content>
          <ion-card-title>
            {{ new.title }}
          </ion-card-title>
          <h2>Descrição : {{ new.description }}</h2>
          <h2><p>URL : {{ new.url }}</p></h2>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon ios="ios-search" md="md-search"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <ion-input class="search-news" placeholder="Digite o Tema"></ion-input>
    </ion-fab-list>
  </ion-fab>

</ion-content>
