<ion-header>
  <ion-navbar>
    <ion-title>
      MEG
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sairChat()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let conversa of conversas" no-lines>
      <div class="conversa-status" text-center *ngIf="conversa.type === 'join' || conversa.type === 'sair'; else mensagem">
        <span class="conversa-date data_info">{{conversa.sendDate | date:'short'}}</span>
        <span class="conversa-content-center grupo_info">{{conversa.mensagem}}</span>
      </div>
      <ng-template #mensagem>
        <div class="conversa-mensagem" text-right *ngIf="conversa.user === username">
          <div class="right-bubble">
            <span class="msg-name mensagem_info">Eu</span>
            <span class="msg-date mensagem_info">{{conversa.sendDate | date:'short'}}</span>
            <p text-wrap>{{conversa.mensagem}}</p>
          </div>
        </div>
        <div class="conversa-mensagem" text-left *ngIf="conversa.user !== username">
          <div class="left-bubble">
            <span class="msg-name mensagem_info">{{conversa.user}}</span>
            <span class="msg-date mensagem_info">{{conversa.sendDate | date:'short'}}</span>
            <p class="mensagem">{{conversa.mensagem}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Digite uma mensagem" [(ngModel)]="data.mensagem" name="mensagem"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="enviarMsg()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
