page-home {
  ion-content {
    background-size: cover;
    height: 100%;
    overflow: hidden;
    .item-md, .item-ios {
      background: none;
    }
  }
  ion-footer {
    background: transparent;
    ion-icon {
      padding: 10px;
      font-size: 20px;
      color: green;
    }
  }

  .mensagem{
    background: -webkit-linear-gradient(#a8ff78, #78ffd6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mensagem_info{
    background: -webkit-linear-gradient(#da4453, #89216b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .data_info{
    background: -webkit-linear-gradient(#b3ffab, #12fff7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .grupo_info{
    background: -webkit-linear-gradient(#ff8008, #ffc837);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .chat-status {
    min-height: 49px;
    .chat-date {
      display: block;
      font-size: 10px;
      font-style: italic;
      color: #fff;
      text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
      height: 15px;
      left: 10%;
      right:10%;
    }
    .chat-content-center {
      padding: 5px 10px;
      background-color: #e1e1f7;
      border-radius: 6px;
      font-size: 12px;
      color: #555;
      height: 34px;
      left: 10%;
      right:10%;
    }
  }
  .chat-mensagem {
    width: 80%;
    min-height: 40px;
    .right-bubble {
      position: relative;
      background: #dcf8c6;
      border-top-left-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px 10px 10px;
      left: 15%;
      span.msg-name {
        font-size: 12px;
      }
      span.msg-date {
        font-size: 10px;
      }
    }

    .right-bubble:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 27px solid transparent;
      border-left-color: #dcf8c6;
      border-right: 0;
      border-top: 0;
      margin-top: -13.5px;
      margin-right: -27px;
    }
    .left-bubble {
      position: relative;
      background: #ffffff;
      border-top-right-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px 10px 10px;
      left: 5%;
      span.msg-name {
        font-size: 12px;
      }
      span.msg-date {
        font-size: 10px;
      }
    }

    .left-bubble:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 27px solid transparent;
      border-right-color: #ffffff;
      border-left: 0;
      border-top: 0;
      margin-top: -13.5px;
      margin-left: -27px;
    }
  }
}
