<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="AddItem()">
    <ion-list>
      <ion-item>
        <ion-label floating>Título do Item</ion-label>
        <ion-input type="text" [(ngModel)]="data.titulo" name="titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Local (Opcional)</ion-label>
        <ion-input type="text" [(ngModel)]="data.local" name="local"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Observações (Opcional)</ion-label>
        <ion-input type="text" [(ngModel)]="data.obs" name="obs"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Valor</ion-label>
        <ion-input type="number" [(ngModel)]="data.valor" name="valor"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="secondary" icon-only>
      <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
    </button>
  </form>

</ion-content>
