@font-face {
   font-family: 'Manjari';
   src: url('../assets/fonts/Manjari-Bold.ttf');
   font-weight: 200;
   font-style: normal;
 }

 @font-face {
   font-family: 'Manjari';
   src: url('../assets/fonts/Manjari-Regular.ttf');
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: 'Manjari';
   src: url('../assets/fonts/Manjari-Thin.ttf');
   font-weight: 900;
   font-style: normal;
 }
