<ion-header>
  <ion-navbar>
    <ion-title>Adicionar Conversa</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="AddConversa()">
    <ion-list>
      <ion-item>
        <ion-label floating>Digite o Título da conversa</ion-label>
        <ion-input type="text" [(ngModel)]="data.conv_nome" name="conv_nome" required=""></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full round color="secondary" type="submit">Adicionar</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
