.card-background-page {

  ion-card {
    font-family: 'Manjari';
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 162px;
  }

  .ion-card-conversas {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    position: relative;
    text-align: center;
    border-radius: 10px;
  }

  .ion-card-eventos {
    background: linear-gradient(to bottom, #da4453, #89216b);
    position: relative;
    text-align: center;
    border-radius: 10px;
  }

  .ion-card-news {
    background: linear-gradient(to top, #00b09b, #96c93d);
    position: relative;
    text-align: center;
    border-radius: 10px;
  }

  .ion-card-shopping {
    background: linear-gradient(to right, #fdc830, #f37335);
    position: relative;
    text-align: center;
    border-radius: 10px;
  }

  .ion-card-qtd_produtos{
    background: linear-gradient(to top, #a1ffce, #fff);
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 75px;
  }

  .ion-card-qtd_conversas {
    background: linear-gradient(to bottom, #fff, #a1ffce);
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 75px;
  }

  .ion-card-separador {
    background: linear-gradient(to right, #fff, #fff);
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 75px;
  }

  .ion-card-porcbat {
    background: linear-gradient(to bottom, #a1ffce, #fff);
    position: relative;
    text-align: center;
    border-radius: 10px;
    height: 75px;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 80%;
    width: 100%;
    color: #fff;
  }

  .card-vertical {
    height: 162px;
  }

}
