<ion-header>
  <ion-navbar>
    <ion-title>DashBoard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-row>
    <ion-col col-8>
      <ion-card (click)="PushConversas()" class="ion-card-conversas">
        <div class="card-title">
          <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
    <ion-col col-4>
      <ion-card (click)="PushEventos()" class="card-vertical ion-card-eventos">
        <div class="card-title">
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
    <ion-col col-4>
      <ion-card (click)="PushNews()" class="card-vertical ion-card-news">
        <div class="card-title">
          <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
    <ion-col col-8>
      <ion-card (click)="PushShopping()" class="ion-card-shopping">
        <div class="card-title">
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
    <ion-col col-8>
      <ion-card class="ion-card-qtd_produtos">
        <div style="margin-top: 20px;">
            <b>{{ qtd_itens }} </b><br />
            Produtos Cadastrados
        </div>
      </ion-card>
    </ion-col>
    <ion-col col-4>
      <ion-card class="ion-card-qtd_conversas">
        <div style="margin-top: 25px;">
          <b>{{ qtd_convs }} </b><br />
          Conversas
        </div>
      </ion-card>
    </ion-col>
    <ion-col col-4>
      <ion-card class="ion-card-porcbat">
        <div style="margin-top: 35px;">
          {{ porc_batt }}%
          Bateria
        </div>
      </ion-card>
    </ion-col>
    <ion-col col-8>
      <ion-card class="ion-card" class="ion-card-porcbat">
        <div style="margin-top: 35px;">
          {{ qtd_news }} Novas Notícias
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
