<!--
  Generated template for the ShoppingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>shopping</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()" style="color: green;">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let prod of itens">
        <ion-card style="border-radius: 10px;" class="ion-card" (press)="DeleteItem(prod.key)">
          <ion-card-header>
            <ion-card-title>{{ prod.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Local : {{ prod.local }}</h2>
            <h2><p>Observações : {{ prod.obs }}</p></h2>
            <p class="prod-val">R$ {{ prod.valor }},00</p>

            <button ion-button color="secondary" icon-only (click)="ComprarItem(prod.titulo, prod.valor)">
              <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
