<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="AddConversa()" style="color: green;">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let conversa of conversas">
        <ion-card style="border-radius: 10px;" class="ion-card" (click)="EntrarConversa(conversa.key); MostrarToast(conversa.conv_nome);">
          <ion-card-header>
            <ion-card-title>{{ conversa.conv_nome }}</ion-card-title>
          </ion-card-header>
          <ion-card-content (press)="DeleteConversa(conversa.key)">
            <ion-toggle class="toogle" checked="false"></ion-toggle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
